# Secrets (do not commit real values)
TELEMETRY_SALT=
TELEMETRY_KEY=
DM_TELEMETRY_UPSTREAM_KEY=
DM_TELEMETRY_TOKEN_SIGNING_KEY=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_DEFAULT_ORGANIZATION_ID=
AWS_DEFAULT_PROJECT_ID=
# scaleway
SCW_ACCESS_KEY=
SCW_SECRET_KEY=
SCW_DEFAULT_ORGANIZATION_ID=
SCW_DEFAULT_PROJECT_ID=
