include:
    - project: $CATALOG_PATH
      file:
        - vault-ci.yml
        - kaniko-ci.yml
      ref: main
  
default:
    image: alpine:latest
  
variables:
    TAG: "$CI_COMMIT_SHORT_SHA"
    DOCKERFILE: Dockerfile
    REGISTRY_URL: "${IMAGE_REPOSITORY}"
  
  
stages:
  - read-secret
  - docker-build
  
read_secret:
  only:
    - web
  stage: read-secret
  extends:
    - .vault:read_secret
  
docker-build:
  needs: ["read_secret"]
  only:
    - web
  variables:
    WORKING_DIR: "."
    IMAGE_NAME: db-backup
  stage: docker-build
  extends:
    - .kaniko:simple-build-push