include:
    - project: $CATALOG_PATH
      file:
        - vault-ci.yml
        - kaniko-ci.yml
      ref: main

default:
    image: alpine:latest

variables:
    REGISTRY_URL: "${IMAGE_REPOSITORY}"
    DOCKERFILE: Dockerfile

stages:
  - read-secret
  - docker-build

read_secret:
  only:
    - web
  stage: read-secret
  extends:
    - .vault:read_secret

docker-build:
  needs: ["read_secret"]
  only:
    - web
  variables:
    WORKING_DIR: "."
    IMAGE_NAME: matomo-rootless
  stage: docker-build
  extends:
    - .kaniko:build-push


docker-buildkit:
  needs: ["read_secret"]
  only:
    - web
  tags:
    - buildkit
  variables:
    WORKING_DIR: "."
    IMAGE_NAME: matomo-rootless
    TAG: "5.6.2"
  stage: docker-build
  extends:
    - .buildkit:build-push
