apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: device-management-content-pvc
  namespace: bootstrap
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
