{{- if and .Values.persistence.enabled (eq .Values.persistence.type "pvc") }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "device-management.fullname" . }}-pvc
  labels:
    {{- include "device-management.labels" . | nindent 4 }}
spec:
  accessModes:
{{- range .Values.persistence.accessModes }}
    - {{ . }}
{{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
{{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass }}
{{- end }}
{{- end }}
