{{- if .Values.secrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "device-management.fullname" . }}-secret
  labels:
    {{- include "device-management.labels" . | nindent 4 }}
type: Opaque
stringData:
{{- range $key, $value := .Values.secrets }}
  {{ $key }}: {{ $value | quote }}
{{- end }}
{{- end }}
